body {
    background: url('./images/sloybg.png');
    width: 100%;
}

.App {
    background: url('./images/full1.png') center no-repeat;
    width: 1924px;
    max-height: 950px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    box-shadow: 0 -20px 100px 50px inset black;
    
}

.header {
    max-width: 1357px;
    margin: 0 auto;
    color:white;
    min-height: 165px;
    display: flex;
    align-items: flex-end;
    
}

.header__content-logo {
    align-self: flex-end;
}

.container {
    width:calc(100% - 12px * 2);
    margin:  0 auto;
}

.header__text-content {
    align-self:center;
}

.header__subtitle {
    margin:0;
    text-transform: uppercase;
    margin-right: 10px;
   
}

.header__link {
    color: white;
    text-decoration: none;
}

.popup__message {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

.popup__message_container {
    background: rgba(255, 255, 255, .7);
     width: 50%;
    height:50%;
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__winner_close {
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}

.header__link:focus {
    text-decoration: underline;
}

.header__subtitle:last-of-type {
    margin-right: 0;
}

.header__title {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 238px;
}

.main {
    color:white;
}

.rules {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: normal;
}

.rules__link {
    color:rgb(192, 189, 189)
}

.container-main {
    width:calc(100% - 392px * 2);
    margin: 0 auto;
}

.main__wrapper {
    display: flex;
    margin-top: 67px;
    justify-content: space-around;
}

.main__container {
  
    display: flex;
    flex-direction: column;
    position: relative;
    right: 58px;
}

.field-one {
    width:400px;
    height: 180px;
    background: rgb(8,135,154);
    border-radius: 5px;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-one__dialer {
    font-size: 60px;
    font-weight: 200;
    text-shadow: 2px 2px 3px rgba(8,135,154,0.9);
    color: rgba(0,0,0,0.4);

}

.field-two {
    width:400px;
    height: 180px;
    background: rgb(8,135,154);
    border:1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    width: 100px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.score-red {
    background: rgb(124, 124, 124);
    box-shadow: 0px 2px 4px 0 inset rgb(95, 95, 95);
}

.score-black {
    background: rgb(7, 109, 124);
    box-shadow: 0px 2px 4px 0 inset rgb(6, 91, 104);
}

.score-blue {
    background:rgb(8,135,154);
    box-shadow: 0px 2px 4px 0 inset rgb(6, 91, 104);
}

.win {
    font-size: 16px;
    margin:0;
    text-transform: uppercase;
    text-align: center;
}

.data-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 30px;
    
}

.data-play__general {
    margin-bottom: 20px;
}

.data-play__general:last-of-type {
    margin-bottom: 0;
}

.main__container_one {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.main__container_two {
display: flex;
align-items: center;
}

.main__container_number {
    width:66px;
    height: 66px;
    background: rgb(8,135,154);
    box-shadow: 0px 5px 6px inset rgb(5, 95, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 30px;
    position: relative;
    left: 20px;
    z-index: 0;
}

.main__kol {
    background: url('./images/cards/deck.png') center no-repeat;
    width: 170px;
    height: 176px;
    z-index: 4;
}

.main__sewitch {
width: 160px;
height: 40px;
border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 25px;
cursor: pointer;
}

.main__sewitch:last-of-type {
    margin-bottom: 0;
}

.switch-one {
    margin-top: 72px; 
}

.red {
    /* background: rgb(199, 4, 4); */
    background: -webkit-linear-gradient(rgb(241, 57, 57) 0%, rgb(199, 4, 4) 100%);
    background: -moz-linear-gradient(rgb(241, 57, 57) 0%, rgb(199, 4, 4) 100%);
    background: -o-linear-gradient(rgb(241, 57, 57) 0%, rgb(199, 4, 4) 100%);
    background: linear-gradient(rgb(241, 57, 57) 0%, rgb(199, 4, 4) 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
}

.red:active {
    background: rgba(199, 4, 4, 0.7);
}

.green {
    background: -webkit-linear-gradient(rgb(133, 228, 32) 0%, rgb(97, 164, 23) 100%);
    background: -moz-linear-gradient(rgb(133, 228, 32) 0%, rgb(97, 164, 23) 100%);
    background: -o-linear-gradient(rgb(133, 228, 32) 0%, rgb(97, 164, 23) 100%);
    background: linear-gradient(rgb(133, 228, 32) 0%, rgb(97, 164, 23) 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
}

.green:active {
    background: rgba(107, 142, 35, 0.7);
}

.wrapper-card {
    position: relative;
    right: 116px;z-index: 4;
}

.logo {
    position: relative;
}

.logo-bar {
    display: flex;
    justify-content: space-between;
}

.baks {
    object-fit: contain;
}

.container-rate {
    width:calc(100% - 450px * 2);
    margin: 0 auto;
}

.rate-container {
    margin-top: 140px;
    height: 70px;
    background: rgb(173, 172, 172, 0.4);
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-rate {
    width:180px;
    height: 40px;
    background: -webkit-linear-gradient(rgb(133, 228, 32) 0%, rgb(97, 164, 23) 100%);
    background: -moz-linear-gradient(rgb(133, 228, 32) 0%, rgb(97, 164, 23) 100%);
    background: -o-linear-gradient(rgb(133, 228, 32) 0%, rgb(97, 164, 23) 100%);
    background: linear-gradient(rgb(133, 228, 32) 0%, rgb(97, 164, 23) 100%);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 20px 0 70px;
    cursor: pointer;
}

.button-del-rate {
    width:60px;
    height: 40px;
    border: none;
    background-color:rgb(199, 4, 4);
    background-image: url('./images/del.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.input-rate {
    height: 40px;
    border: 1px solid rgb(121, 121, 121);
    font-size: 25px;
    background-color:rgb(200, 200, 200, 0.6);
    box-shadow: 0 0 5px black inset;
    color: white;
    padding-left: 10px;
    width: 200px;
    margin-right: 50px;
    display: flex;
    
    align-items: center;
}



.span-rate {
    color: white;
    margin-right: 10px;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(143, 140, 140, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s linear;
    z-index: 10;
}



.popup__container {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width:643px; */
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.title-two {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
    align-self: center;
}

.title-two::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 55%;
    height: 1px;
    background: rgb(4, 68, 121);
}

.title-three {
    margin: 10px 0 10px 0;
    font-size: 22px;
    font-weight: 600;
    color:rgb(4, 68, 121);
    align-self: center;
}

.title-one {
    margin: 0 0 10px 0;
    color:rgb(4, 68, 121);
    align-self: center;
}

.popup__list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.subtitle__one {
    margin: 0;
}

.subtitle__two {
    margin:10px 0 10px 0;
}

.title-four {
    font-weight: 500;
    font-size: 18px;
    align-self: center;
    color:rgb(4, 68, 121);
}

.subtitle__three {
    position: relative;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.subtitle__three::after {
    content: "";
    position: absolute;
    bottom: 0;
    left:5%;
    width: 90%;
    height: 1px;
    background: rgb(4, 68, 121);
}

.subtitle__two span {
    color:rgb(4, 68, 121);
    font-weight: 500;
}

.close-button {
    background: url('../../images/Close-popup.png');
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.attempt {
    width: 60px;
    height: 40px;
    background: -webkit-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: -moz-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: -o-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.color {
    background: -webkit-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: -moz-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: -o-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
}

.color-red {
    background: red;
}


@keyframes playerCard1 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 0.3rem;
        left: 0.2rem;
    }
}

@keyframes playerCard2 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 0.3rem;
        left: 4rem;
    }
}

 @keyframes playerCard3 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 0.3rem;
        left: 8rem;
    }
}

@keyframes playerCard4 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 0.3rem;
        left: 12rem;
    }
}

@keyframes playerCard5 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 0.3rem;
        left: 16rem;
    }
}

@keyframes dealerCard1 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 12.3rem;
        left: 0.2rem;
    }
}

@keyframes dealerCard2 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 12.3rem;
        left: 4rem;
    }
}

@keyframes dealerCard3 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 12.3rem;
        left: 8rem;
    }
}
@keyframes dealerCard4 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 12.3rem;
        left: 12rem;
    }
}
@keyframes dealerCard5 {
    0% {
        top: 0rem;
        left: 34rem;
    }
    100% {
        top: 12.3rem;
        left: 16rem;
    }
}


 .card {
    display: none;
    position: absolute;
    top: 0.1rem;
    left: 34rem;
    box-shadow: -2px 0 6px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
}

.player__card-1 { animation: playerCard1 .6s ease-out forwards; z-index: 1;}
.player__card-2 { animation: playerCard2 .6s .1s ease-out forwards; z-index: 1;}
.player__card-3 { animation: playerCard3 .6s ease-out forwards;z-index: 1;}
.player__card-4 { animation: playerCard4 .6s ease-out forwards;z-index: 1;}
.player__card-5 { animation: playerCard5 .6s ease-out forwards;z-index: 1;}
.dealer__card-1 { animation: dealerCard1 .6s .1s ease-out forwards;z-index: 1}
.dealer__card-2 { animation: dealerCard2 .6s .1s ease-out forwards;z-index: 1} 
.dealer__card-3 { animation: dealerCard3 .6s .1s ease-out forwards; z-index: 1;}
.dealer__card-4 { animation: dealerCard4 .6s .1s ease-out forwards; z-index: 1;}
.dealer__card-5 { animation: dealerCard5 .6s .1s ease-out forwards; z-index: 1;}

.popup__winner {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s linear;
}

.img-winner {
    background: url('./images/popup.png') center no-repeat;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title-winner {
    color: white;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 400;
}

.money {
    width:200px;
    height: 40px;
    /* background: white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 20px;
    border: 1px solid white;
    align-self: flex-end;
    margin-bottom: 40px;
}

.money-rate {
    width:150px;
    height: 35px;
    /* border: 1px solid red; */
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.usd {
    position: absolute;
    left: -10px;
}

.popup__active {
    visibility: visible;
    opacity: 1;
    transition: 0.25s linear;
    z-index: 10;
}


.disabled {
    pointer-events: none;
    background: rgb(168, 167, 167)
}


.color-red {
    background: red;
}
.color {
    background: -webkit-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: -moz-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: -o-linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
    background: linear-gradient(rgb(43, 159, 241) 0%, rgb(27, 106, 164) 100%);
}

.title__status {
    color: #0fb7cf;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 400;
    z-index: 10;
    text-align: center;
}

/* @media screen and (max-width: 823px){
    body {
        background: none;
    }
    .App {
        max-width: 824px;
        max-height:411px;
    background-size: cover;
  
    }
    .header {
        max-width: 1357px;
        margin: 0 auto;
        color:white;
        min-height: 91px;
        display: flex;
        
        
    }
    .header__title {
        margin: 0 0 20px 0;
        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 15px;
    }

    .rules__link {
        color:rgb(192, 189, 189)
    }
    .header__content-logo {
        align-self: flex-end;
    }
    .logo {
       
        width: 144px;
        height: 59px;
    }
    .header__content {
        min-height: 91px;
        align-self: flex-start;
    }
    .money {
        width: 153px;
        height: 30px;
       
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        border-radius: 20px;
        border: 1px solid white;
        align-self: flex-end;
        margin-bottom: 22px;
    }
    .usd {
        width: 50px;
        height: 50px;
    }
    .money-rate {
        width: 95px;
    }

    .field-one {
        width: 137px;
    height: 71px;
    }

    .field-two {
        width: 137px;
        height: 71px;
    }

    .field-one__dialer {
        font-size: 28px;
    }

    .main__kol {
        background: url(./images/cards/deck.png) center no-repeat;
        width: 170px;
        height: 176px;
        z-index: 4;
        background-size: 102px;
}
    .main__wrapper {
        display: flex;
        margin-top: 16px;
        justify-content: space-around;
        width: 100%;
    }
    .score {
        width: 76px;
        height: 37px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

} */